// ----------
// Complement
// ----------
$sc-complement: adjust_hue($sc-seed, 180);

// $sc-complement lightened in 10 degree increments
$sc-complement-lighten-10: lighten($sc-complement, 10);
$sc-complement-lighten-20: lighten($sc-complement, 20);
$sc-complement-lighten-30: lighten($sc-complement, 30);
$sc-complement-lighten-40: lighten($sc-complement, 40);
$sc-complement-lighten-50: lighten($sc-complement, 50);
$sc-complement-lighten-60: lighten($sc-complement, 60);
$sc-complement-lighten-70: lighten($sc-complement, 70);
$sc-complement-lighten-80: lighten($sc-complement, 80);
$sc-complement-lighten-90: lighten($sc-complement, 90);

// $sc-complement darkened in 10 degree increments
$sc-complement-darken-10: darken($sc-complement, 10);
$sc-complement-darken-20: darken($sc-complement, 20);
$sc-complement-darken-30: darken($sc-complement, 30);
$sc-complement-darken-40: darken($sc-complement, 40);
$sc-complement-darken-50: darken($sc-complement, 50);
$sc-complement-darken-60: darken($sc-complement, 60);
$sc-complement-darken-70: darken($sc-complement, 70);
$sc-complement-darken-80: darken($sc-complement, 80);
$sc-complement-darken-90: darken($sc-complement, 90);

// ----------
// Split Complement
// ----------
$sc-split-complement-pos150: adjust_hue($sc-seed, 150);
$sc-split-complement-neg150: adjust_hue($sc-seed, -150);

// $sc-split-complement-pos150 lighten in 10 degree increments
$sc-split-complement-pos150-lighten-10: lighten($sc-split-complement-pos150, 10);
$sc-split-complement-pos150-lighten-20: lighten($sc-split-complement-pos150, 20);
$sc-split-complement-pos150-lighten-30: lighten($sc-split-complement-pos150, 30);
$sc-split-complement-pos150-lighten-40: lighten($sc-split-complement-pos150, 40);
$sc-split-complement-pos150-lighten-50: lighten($sc-split-complement-pos150, 50);
$sc-split-complement-pos150-lighten-60: lighten($sc-split-complement-pos150, 60);
$sc-split-complement-pos150-lighten-70: lighten($sc-split-complement-pos150, 70);
$sc-split-complement-pos150-lighten-80: lighten($sc-split-complement-pos150, 80);
$sc-split-complement-pos150-lighten-90: lighten($sc-split-complement-pos150, 90);

// $sc-split-complement-pos150 darkened 10 degree increments.
$sc-split-complement-pos150-darken-10: darken($sc-split-complement-pos150, 10);
$sc-split-complement-pos150-darken-20: darken($sc-split-complement-pos150, 20);
$sc-split-complement-pos150-darken-30: darken($sc-split-complement-pos150, 30);
$sc-split-complement-pos150-darken-40: darken($sc-split-complement-pos150, 40);
$sc-split-complement-pos150-darken-50: darken($sc-split-complement-pos150, 50);
$sc-split-complement-pos150-darken-60: darken($sc-split-complement-pos150, 60);
$sc-split-complement-pos150-darken-70: darken($sc-split-complement-pos150, 70);
$sc-split-complement-pos150-darken-80: darken($sc-split-complement-pos150, 80);
$sc-split-complement-pos150-darken-90: darken($sc-split-complement-pos150, 90);

// $sc-split-complement-neg150 lighten in 10 degree increments
$sc-split-complement-neg150-lighten-10: lighten($sc-split-complement-neg150, 10);
$sc-split-complement-neg150-lighten-20: lighten($sc-split-complement-neg150, 20);
$sc-split-complement-neg150-lighten-30: lighten($sc-split-complement-neg150, 30);
$sc-split-complement-neg150-lighten-40: lighten($sc-split-complement-neg150, 40);
$sc-split-complement-neg150-lighten-50: lighten($sc-split-complement-neg150, 50);
$sc-split-complement-neg150-lighten-60: lighten($sc-split-complement-neg150, 60);
$sc-split-complement-neg150-lighten-70: lighten($sc-split-complement-neg150, 70);
$sc-split-complement-neg150-lighten-80: lighten($sc-split-complement-neg150, 80);
$sc-split-complement-neg150-lighten-90: lighten($sc-split-complement-neg150, 90);

// $sc-split-complement-neg150 darkened 10 degree increments.
$sc-split-complement-neg150-darken-10: darken($sc-split-complement-neg150, 10);
$sc-split-complement-neg150-darken-20: darken($sc-split-complement-neg150, 20);
$sc-split-complement-neg150-darken-30: darken($sc-split-complement-neg150, 30);
$sc-split-complement-neg150-darken-40: darken($sc-split-complement-neg150, 40);
$sc-split-complement-neg150-darken-50: darken($sc-split-complement-neg150, 50);
$sc-split-complement-neg150-darken-60: darken($sc-split-complement-neg150, 60);
$sc-split-complement-neg150-darken-70: darken($sc-split-complement-neg150, 70);
$sc-split-complement-neg150-darken-80: darken($sc-split-complement-neg150, 80);
$sc-split-complement-neg150-darken-90: darken($sc-split-complement-neg150, 90);

// ----------
// Analogous
// ----------
$sc-analogous-pos30: adjust_hue($sc-seed, 30);
$sc-analogous-neg30: adjust_hue($sc-seed, -30);

// $sc-analogous-pos30 lighten in 10 degree increments
$sc-analogous-pos30-lighten-10: lighten($sc-analogous-pos30, 10);
$sc-analogous-pos30-lighten-20: lighten($sc-analogous-pos30, 20);
$sc-analogous-pos30-lighten-30: lighten($sc-analogous-pos30, 30);
$sc-analogous-pos30-lighten-40: lighten($sc-analogous-pos30, 40);
$sc-analogous-pos30-lighten-50: lighten($sc-analogous-pos30, 50);
$sc-analogous-pos30-lighten-60: lighten($sc-analogous-pos30, 60);
$sc-analogous-pos30-lighten-70: lighten($sc-analogous-pos30, 70);
$sc-analogous-pos30-lighten-80: lighten($sc-analogous-pos30, 80);
$sc-analogous-pos30-lighten-90: lighten($sc-analogous-pos30, 90);

// $sc-analogous-pos30 darkened 10 degree increments.
$sc-analogous-pos30-darken-10: darken($sc-analogous-pos30, 10);
$sc-analogous-pos30-darken-20: darken($sc-analogous-pos30, 20);
$sc-analogous-pos30-darken-30: darken($sc-analogous-pos30, 30);
$sc-analogous-pos30-darken-40: darken($sc-analogous-pos30, 40);
$sc-analogous-pos30-darken-50: darken($sc-analogous-pos30, 50);
$sc-analogous-pos30-darken-60: darken($sc-analogous-pos30, 60);
$sc-analogous-pos30-darken-70: darken($sc-analogous-pos30, 70);
$sc-analogous-pos30-darken-80: darken($sc-analogous-pos30, 80);
$sc-analogous-pos30-darken-90: darken($sc-analogous-pos30, 90);

// $sc-analogous-neg30 lighten in 10 degree increments
$sc-analogous-neg30-lighten-10: lighten($sc-analogous-neg30, 10);
$sc-analogous-neg30-lighten-20: lighten($sc-analogous-neg30, 20);
$sc-analogous-neg30-lighten-30: lighten($sc-analogous-neg30, 30);
$sc-analogous-neg30-lighten-40: lighten($sc-analogous-neg30, 40);
$sc-analogous-neg30-lighten-50: lighten($sc-analogous-neg30, 50);
$sc-analogous-neg30-lighten-60: lighten($sc-analogous-neg30, 60);
$sc-analogous-neg30-lighten-70: lighten($sc-analogous-neg30, 70);
$sc-analogous-neg30-lighten-80: lighten($sc-analogous-neg30, 80);
$sc-analogous-neg30-lighten-90: lighten($sc-analogous-neg30, 90);

// $sc-analogous-neg30 darkened 10 degree increments.
$sc-analogous-neg30-darken-10: darken($sc-analogous-neg30, 10);
$sc-analogous-neg30-darken-20: darken($sc-analogous-neg30, 20);
$sc-analogous-neg30-darken-30: darken($sc-analogous-neg30, 30);
$sc-analogous-neg30-darken-40: darken($sc-analogous-neg30, 40);
$sc-analogous-neg30-darken-50: darken($sc-analogous-neg30, 50);
$sc-analogous-neg30-darken-60: darken($sc-analogous-neg30, 60);
$sc-analogous-neg30-darken-70: darken($sc-analogous-neg30, 70);
$sc-analogous-neg30-darken-80: darken($sc-analogous-neg30, 80);
$sc-analogous-neg30-darken-90: darken($sc-analogous-neg30, 90);

// ----------
// Triadic
// ----------
$sc-triadic-pos120: adjust_hue($sc-seed, 120);
$sc-triadic-neg120: adjust_hue($sc-seed, -120);

// $sc-triadic-pos120 lighten in 10 degree increments
$sc-triadic-pos120-lighten-10: lighten($sc-triadic-pos120, 10);
$sc-triadic-pos120-lighten-20: lighten($sc-triadic-pos120, 20);
$sc-triadic-pos120-lighten-30: lighten($sc-triadic-pos120, 30);
$sc-triadic-pos120-lighten-40: lighten($sc-triadic-pos120, 40);
$sc-triadic-pos120-lighten-50: lighten($sc-triadic-pos120, 50);
$sc-triadic-pos120-lighten-60: lighten($sc-triadic-pos120, 60);
$sc-triadic-pos120-lighten-70: lighten($sc-triadic-pos120, 70);
$sc-triadic-pos120-lighten-80: lighten($sc-triadic-pos120, 80);
$sc-triadic-pos120-lighten-90: lighten($sc-triadic-pos120, 90);

// $sc-triadic-pos120 darkened 10 degree increments.
$sc-triadic-pos120-darken-10: darken($sc-triadic-pos120, 10);
$sc-triadic-pos120-darken-20: darken($sc-triadic-pos120, 20);
$sc-triadic-pos120-darken-30: darken($sc-triadic-pos120, 30);
$sc-triadic-pos120-darken-40: darken($sc-triadic-pos120, 40);
$sc-triadic-pos120-darken-50: darken($sc-triadic-pos120, 50);
$sc-triadic-pos120-darken-60: darken($sc-triadic-pos120, 60);
$sc-triadic-pos120-darken-70: darken($sc-triadic-pos120, 70);
$sc-triadic-pos120-darken-80: darken($sc-triadic-pos120, 80);
$sc-triadic-pos120-darken-90: darken($sc-triadic-pos120, 90);

// $sc-triadic-neg120 lighten in 10 degree increments
$sc-triadic-neg120-lighten-10: lighten($sc-triadic-neg120, 10);
$sc-triadic-neg120-lighten-20: lighten($sc-triadic-neg120, 20);
$sc-triadic-neg120-lighten-30: lighten($sc-triadic-neg120, 30);
$sc-triadic-neg120-lighten-40: lighten($sc-triadic-neg120, 40);
$sc-triadic-neg120-lighten-50: lighten($sc-triadic-neg120, 50);
$sc-triadic-neg120-lighten-60: lighten($sc-triadic-neg120, 60);
$sc-triadic-neg120-lighten-70: lighten($sc-triadic-neg120, 70);
$sc-triadic-neg120-lighten-80: lighten($sc-triadic-neg120, 80);
$sc-triadic-neg120-lighten-90: lighten($sc-triadic-neg120, 90);

// $sc-triadic-neg120 darkened 10 degree increments.
$sc-triadic-neg120-darken-10: darken($sc-triadic-neg120, 10);
$sc-triadic-neg120-darken-20: darken($sc-triadic-neg120, 20);
$sc-triadic-neg120-darken-30: darken($sc-triadic-neg120, 30);
$sc-triadic-neg120-darken-40: darken($sc-triadic-neg120, 40);
$sc-triadic-neg120-darken-50: darken($sc-triadic-neg120, 50);
$sc-triadic-neg120-darken-60: darken($sc-triadic-neg120, 60);
$sc-triadic-neg120-darken-70: darken($sc-triadic-neg120, 70);
$sc-triadic-neg120-darken-80: darken($sc-triadic-neg120, 80);
$sc-triadic-neg120-darken-90: darken($sc-triadic-neg120, 90);

// ----------
// Tetradic Positive
// ----------
$sc-tetradic-pos60: adjust_hue($sc-seed, 60);
// $sc-complement is included in this scheme
$sc-tetradic-pos240: adjust_hue($sc-seed, 240);

// $sc-tetradic-pos60 lighten in 10 degree increments
$sc-tetradic-pos60-lighten-10: lighten($sc-tetradic-pos60, 10);
$sc-tetradic-pos60-lighten-20: lighten($sc-tetradic-pos60, 20);
$sc-tetradic-pos60-lighten-30: lighten($sc-tetradic-pos60, 30);
$sc-tetradic-pos60-lighten-40: lighten($sc-tetradic-pos60, 40);
$sc-tetradic-pos60-lighten-50: lighten($sc-tetradic-pos60, 50);
$sc-tetradic-pos60-lighten-60: lighten($sc-tetradic-pos60, 60);
$sc-tetradic-pos60-lighten-70: lighten($sc-tetradic-pos60, 70);
$sc-tetradic-pos60-lighten-80: lighten($sc-tetradic-pos60, 80);
$sc-tetradic-pos60-lighten-90: lighten($sc-tetradic-pos60, 90);

// $sc-tetradic-pos60 darkened 10 degree increments.
$sc-tetradic-pos60-darken-10: darken($sc-tetradic-pos60, 10);
$sc-tetradic-pos60-darken-20: darken($sc-tetradic-pos60, 20);
$sc-tetradic-pos60-darken-30: darken($sc-tetradic-pos60, 30);
$sc-tetradic-pos60-darken-40: darken($sc-tetradic-pos60, 40);
$sc-tetradic-pos60-darken-50: darken($sc-tetradic-pos60, 50);
$sc-tetradic-pos60-darken-60: darken($sc-tetradic-pos60, 60);
$sc-tetradic-pos60-darken-70: darken($sc-tetradic-pos60, 70);
$sc-tetradic-pos60-darken-80: darken($sc-tetradic-pos60, 80);
$sc-tetradic-pos60-darken-90: darken($sc-tetradic-pos60, 90);

// $sc-tetradic-pos240 lighten in 10 degree increments
$sc-tetradic-pos240-lighten-10: lighten($sc-tetradic-pos240, 10);
$sc-tetradic-pos240-lighten-20: lighten($sc-tetradic-pos240, 20);
$sc-tetradic-pos240-lighten-30: lighten($sc-tetradic-pos240, 30);
$sc-tetradic-pos240-lighten-40: lighten($sc-tetradic-pos240, 40);
$sc-tetradic-pos240-lighten-50: lighten($sc-tetradic-pos240, 50);
$sc-tetradic-pos240-lighten-60: lighten($sc-tetradic-pos240, 60);
$sc-tetradic-pos240-lighten-70: lighten($sc-tetradic-pos240, 70);
$sc-tetradic-pos240-lighten-80: lighten($sc-tetradic-pos240, 80);
$sc-tetradic-pos240-lighten-90: lighten($sc-tetradic-pos240, 90);

// $sc-tetradic-pos240 darkened 10 degree increments.
$sc-tetradic-pos240-darken-10: darken($sc-tetradic-pos240, 10);
$sc-tetradic-pos240-darken-20: darken($sc-tetradic-pos240, 20);
$sc-tetradic-pos240-darken-30: darken($sc-tetradic-pos240, 30);
$sc-tetradic-pos240-darken-40: darken($sc-tetradic-pos240, 40);
$sc-tetradic-pos240-darken-50: darken($sc-tetradic-pos240, 50);
$sc-tetradic-pos240-darken-60: darken($sc-tetradic-pos240, 60);
$sc-tetradic-pos240-darken-70: darken($sc-tetradic-pos240, 70);
$sc-tetradic-pos240-darken-80: darken($sc-tetradic-pos240, 80);
$sc-tetradic-pos240-darken-90: darken($sc-tetradic-pos240, 90);

// ----------
// Tetradic Negative
// ----------
$sc-tetradic-neg60: adjust_hue($sc-seed, -60);
// $sc-complement is included in this scheme
$sc-tetradic-neg240: adjust_hue($sc-seed, -240);

// $sc-tetradic-neg60 lighten in 10 degree increments
$sc-tetradic-neg60-lighten-10: lighten($sc-tetradic-neg60, 10);
$sc-tetradic-neg60-lighten-20: lighten($sc-tetradic-neg60, 20);
$sc-tetradic-neg60-lighten-30: lighten($sc-tetradic-neg60, 30);
$sc-tetradic-neg60-lighten-40: lighten($sc-tetradic-neg60, 40);
$sc-tetradic-neg60-lighten-50: lighten($sc-tetradic-neg60, 50);
$sc-tetradic-neg60-lighten-60: lighten($sc-tetradic-neg60, 60);
$sc-tetradic-neg60-lighten-70: lighten($sc-tetradic-neg60, 70);
$sc-tetradic-neg60-lighten-80: lighten($sc-tetradic-neg60, 80);
$sc-tetradic-neg60-lighten-90: lighten($sc-tetradic-neg60, 90);

// $sc-tetradic-neg60 darkened 10 degree increments.
$sc-tetradic-neg60-darken-10: darken($sc-tetradic-neg60, 10);
$sc-tetradic-neg60-darken-20: darken($sc-tetradic-neg60, 20);
$sc-tetradic-neg60-darken-30: darken($sc-tetradic-neg60, 30);
$sc-tetradic-neg60-darken-40: darken($sc-tetradic-neg60, 40);
$sc-tetradic-neg60-darken-50: darken($sc-tetradic-neg60, 50);
$sc-tetradic-neg60-darken-60: darken($sc-tetradic-neg60, 60);
$sc-tetradic-neg60-darken-70: darken($sc-tetradic-neg60, 70);
$sc-tetradic-neg60-darken-80: darken($sc-tetradic-neg60, 80);
$sc-tetradic-neg60-darken-90: darken($sc-tetradic-neg60, 90);

// $sc-tetradic-neg240 lighten in 10 degree increments
$sc-tetradic-neg240-lighten-10: lighten($sc-tetradic-neg240, 10);
$sc-tetradic-neg240-lighten-20: lighten($sc-tetradic-neg240, 20);
$sc-tetradic-neg240-lighten-30: lighten($sc-tetradic-neg240, 30);
$sc-tetradic-neg240-lighten-40: lighten($sc-tetradic-neg240, 40);
$sc-tetradic-neg240-lighten-50: lighten($sc-tetradic-neg240, 50);
$sc-tetradic-neg240-lighten-60: lighten($sc-tetradic-neg240, 60);
$sc-tetradic-neg240-lighten-70: lighten($sc-tetradic-neg240, 70);
$sc-tetradic-neg240-lighten-80: lighten($sc-tetradic-neg240, 80);
$sc-tetradic-neg240-lighten-90: lighten($sc-tetradic-neg240, 90);

// $sc-tetradic-neg240 darkened 10 degree increments.
$sc-tetradic-neg240-darken-10: darken($sc-tetradic-neg240, 10);
$sc-tetradic-neg240-darken-20: darken($sc-tetradic-neg240, 20);
$sc-tetradic-neg240-darken-30: darken($sc-tetradic-neg240, 30);
$sc-tetradic-neg240-darken-40: darken($sc-tetradic-neg240, 40);
$sc-tetradic-neg240-darken-50: darken($sc-tetradic-neg240, 50);
$sc-tetradic-neg240-darken-60: darken($sc-tetradic-neg240, 60);
$sc-tetradic-neg240-darken-70: darken($sc-tetradic-neg240, 70);
$sc-tetradic-neg240-darken-80: darken($sc-tetradic-neg240, 80);
$sc-tetradic-neg240-darken-90: darken($sc-tetradic-neg240, 90);

// ----------
// Square
// ----------
$sc-square-pos90: adjust_hue($sc-seed, 90);
$sc-square-neg90: adjust_hue($sc-seed, -90);

// $sc-square-pos90 lighten in 10 degree increments
$sc-square-pos90-lighten-10: lighten($sc-square-pos90, 10);
$sc-square-pos90-lighten-20: lighten($sc-square-pos90, 20);
$sc-square-pos90-lighten-30: lighten($sc-square-pos90, 30);
$sc-square-pos90-lighten-40: lighten($sc-square-pos90, 40);
$sc-square-pos90-lighten-50: lighten($sc-square-pos90, 50);
$sc-square-pos90-lighten-60: lighten($sc-square-pos90, 60);
$sc-square-pos90-lighten-70: lighten($sc-square-pos90, 70);
$sc-square-pos90-lighten-80: lighten($sc-square-pos90, 80);
$sc-square-pos90-lighten-90: lighten($sc-square-pos90, 90);

// $sc-square-pos90 darkened 10 degree increments.
$sc-square-pos90-darken-10: darken($sc-square-pos90, 10);
$sc-square-pos90-darken-20: darken($sc-square-pos90, 20);
$sc-square-pos90-darken-30: darken($sc-square-pos90, 30);
$sc-square-pos90-darken-40: darken($sc-square-pos90, 40);
$sc-square-pos90-darken-50: darken($sc-square-pos90, 50);
$sc-square-pos90-darken-60: darken($sc-square-pos90, 60);
$sc-square-pos90-darken-70: darken($sc-square-pos90, 70);
$sc-square-pos90-darken-80: darken($sc-square-pos90, 80);
$sc-square-pos90-darken-90: darken($sc-square-pos90, 90);

// $sc-square-neg90 lighten in 10 degree increments
$sc-square-neg90-lighten-10: lighten($sc-square-neg90, 10);
$sc-square-neg90-lighten-20: lighten($sc-square-neg90, 20);
$sc-square-neg90-lighten-30: lighten($sc-square-neg90, 30);
$sc-square-neg90-lighten-40: lighten($sc-square-neg90, 40);
$sc-square-neg90-lighten-50: lighten($sc-square-neg90, 50);
$sc-square-neg90-lighten-60: lighten($sc-square-neg90, 60);
$sc-square-neg90-lighten-70: lighten($sc-square-neg90, 70);
$sc-square-neg90-lighten-80: lighten($sc-square-neg90, 80);
$sc-square-neg90-lighten-90: lighten($sc-square-neg90, 90);

// $sc-square-neg90 darkened 10 degree increments.
$sc-square-neg90-darken-10: darken($sc-square-neg90, 10);
$sc-square-neg90-darken-20: darken($sc-square-neg90, 20);
$sc-square-neg90-darken-30: darken($sc-square-neg90, 30);
$sc-square-neg90-darken-40: darken($sc-square-neg90, 40);
$sc-square-neg90-darken-50: darken($sc-square-neg90, 50);
$sc-square-neg90-darken-60: darken($sc-square-neg90, 60);
$sc-square-neg90-darken-70: darken($sc-square-neg90, 70);
$sc-square-neg90-darken-80: darken($sc-square-neg90, 80);
$sc-square-neg90-darken-90: darken($sc-square-neg90, 90);
