// Define a primary color with variable name:
// -----------
// $sc-primary
// -----------

// $sc-primary lightened 10 degree increments.
$sc-primary-lighten-10: lighten($sc-primary, 10deg);
$sc-primary-lighten-20: lighten($sc-primary, 20deg);
$sc-primary-lighten-30: lighten($sc-primary, 30deg);
$sc-primary-lighten-40: lighten($sc-primary, 40deg);
$sc-primary-lighten-50: lighten($sc-primary, 50deg);
$sc-primary-lighten-60: lighten($sc-primary, 60deg);
$sc-primary-lighten-70: lighten($sc-primary, 70deg);
$sc-primary-lighten-80: lighten($sc-primary, 80deg);
$sc-primary-lighten-90: lighten($sc-primary, 90deg);

// $sc-primary darkened 10 degree increments.
$sc-primary-darken-10: darken($sc-primary, 10deg);
$sc-primary-darken-20: darken($sc-primary, 20deg);
$sc-primary-darken-30: darken($sc-primary, 30deg);
$sc-primary-darken-40: darken($sc-primary, 40deg);
$sc-primary-darken-50: darken($sc-primary, 50deg);
$sc-primary-darken-60: darken($sc-primary, 60deg);
$sc-primary-darken-70: darken($sc-primary, 70deg);
$sc-primary-darken-80: darken($sc-primary, 80deg);
$sc-primary-darken-90: darken($sc-primary, 90deg);

// $sc-complementary
$sc-complementary: adjust-hue($sc-primary, 180deg);

// $sc-complementary lightened in 10 degree increments
$sc-complementary-lighten-10: lighten($sc-complementary, 10deg);
$sc-complementary-lighten-20: lighten($sc-complementary, 20deg);
$sc-complementary-lighten-30: lighten($sc-complementary, 30deg);
$sc-complementary-lighten-40: lighten($sc-complementary, 40deg);
$sc-complementary-lighten-50: lighten($sc-complementary, 50deg);
$sc-complementary-lighten-60: lighten($sc-complementary, 60deg);
$sc-complementary-lighten-70: lighten($sc-complementary, 70deg);
$sc-complementary-lighten-80: lighten($sc-complementary, 80deg);
$sc-complementary-lighten-90: lighten($sc-complementary, 90deg);

// $sc-complementary darkened in 10 degree increments
$sc-complementary-darken-10: darken($sc-complementary, 10deg);
$sc-complementary-darken-20: darken($sc-complementary, 20deg);
$sc-complementary-darken-30: darken($sc-complementary, 30deg);
$sc-complementary-darken-40: darken($sc-complementary, 40deg);
$sc-complementary-darken-50: darken($sc-complementary, 50deg);
$sc-complementary-darken-60: darken($sc-complementary, 60deg);
$sc-complementary-darken-70: darken($sc-complementary, 70deg);
$sc-complementary-darken-80: darken($sc-complementary, 80deg);
$sc-complementary-darken-90: darken($sc-complementary, 90deg);
